{
    "Games": {
        "A Way Out": {},
        "Anthem": {},
        "Apex Legends": {},
        "Battlefield 1": {},
        "Battlefield V": {},
        "Call of Duty - Black Ops 4": {},
        "Diablo III": {},
        "Dragon Age Inquisition": {},
        "Fallout 76": {},
        "Fortnite": {},
        "Gears of War 4": {},
        "Heroes of the Storm": {},
        "Mass Effect Andromeda": {},
        "Metro Exodus": {},
        "Mirror's Edge Catalyst": {},
        "Overwatch": {},
        "Sea of Thieves": {},
        "SimCity": {},
        "Star Wars Battlefront": {},
        "Star Wars Battlefront II": {},
        "StarCraft II": {},
        "Titanfall 2": {}
    }
}
