{
    "Games": {
        "Anthem": "origin",
        "Apex Legends": "origin",
        "Call of Duty - Black Ops 4": "blizzard",
        "Diablo III": "default",
        "Fortnite": "epic",
        "Gears of War 4": "windows",
        "Heroes of the Storm": "default",
        "Overwatch": "default",
        "SimCity": "default",
        "StarCraft II": "default",
    }
}
